body{
  z-index: -10;
}
#members img{
    margin-top: -70px;
}

#about i{
    background-color: rgb(63, 63, 63);
    padding: 5px;
    border-radius: 5px;
}

#aces img{
    height : 50vh;
}

#team img{
    height : 50vh;
}

/* HOME SECTION */
#home-section{
    min-height: 700px;
}

.dark-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    min-height: 700px;
    display:flex;
    justify-content:center;
    align-items:center;
}

#home-section .home-inner{
    padding-top: 100px;
}

#home-section .card-form{
    opacity: 0.8;
}

#home-section .fas, #create-section .fas{
    color: #008ed6;
    background: #fff;
    padding: 5px;
    border: 5px;
    border-radius: 5px;
}


#title{
    color: white;
    background-color: black;
}

#aside{
    background-color: rgb(66, 66, 66);
}

#subscribe .input-group-prepend{
    background-color: black;
    opacity: 0.5;
    color : white;
    z-index: -1;
}

#subscribe .subscribe-inputs{
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}
    
    .border-shape {
    background: #ffbe00 none repeat scroll 0 0;
    color: #fff;
    display: block;
    height: 3px;
    left: 0;
    margin: 20px auto;
    position: relative;
    right: 0;
    text-align: center;
    top: 0;
    width: 80px;
    z-index: -1;
    }
    
    .border-shape::before {
    background: #ffbe00 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 80px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 100px;
    z-index: -1;
    }
    
    .border-shape::after {
    background: #ffbe00 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    margin: 0 auto;
    position: absolute;
    right: 80px;
    text-align: center;
    top: 1px;
    width: 100px;
    z-index: -1;
    }
      .about-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 90%;
        height: 30px;
        margin-top: 25px;
        border-radius: 200px;
        background: #7b68ee;
      }

      .container .btn {
        background: #7b68ee !important;
    }
      